extends layout.pug

block append scripts
	script(src="/public/js/admin.js")

block content
	div.padding#admin
		h1 Admin controls
		p From this page you can manage movies, users and theaters
		div.tableSection.hideable.popUp
			h2.hidebutton Movies
			div.hidecontent.tableContainer
				div.confirmContainer
				table#moviesTable
					tr
						th.medium.sortable Title
						th.small.sortable Year
						th.shrink.sortable Description
						th.small
						th.small
					each m in movies
						tr(movie_id=m._id type="movie" name=m.title)
							td.medium= m.title
							td.small.center= m.year
							td.shrink= m.description
							td.small.edit.button(onclick="redirect('/admin/editmovie/"+m._id+"')") edit
							td.small.delete.button delete
		a(href="/admin/editmovie") Add a movie

		div.tableSection.hideable.popUp
			h2.hidebutton Users
			div.hidecontent.tableContainer
				div.confirmContainer
				table#usersTable
					tr
						th.shrink.sortable Email
						th.medium.sortable Account type
						th.small
					each u in users
						tr(user_id=u._id type="user" name=u.email)
							td.shrink= u.email
							td.medium.center= u.type
							td.small.delete.button delete
				
		div.tableSection.hideable.popUp
			h2.hidebutton Theaters
			div.hidecontent.tableContainer
				div.confirmContainer
				table#theatersTable
					tr
						th.medium.sortable Name
						th.shrink.sortable Address
						th.medium
						th.small
						th.small
					each t in theaters
						tr(theater_id=t._id type="theater" name=t.name)
							td.medium= t.name
							td.shrink= t.address.street + " " + t.address.city
							td.medium.edit.button(onclick="redirect('/admin/editschedule/theater/"+t._id+"/week/0')") edit schedule
							td.small.edit.button(onclick="redirect('/admin/edittheater/"+t._id+"')") edit
							td.small.delete.button delete
		a(href="/admin/edittheater") Add a theater
					