extends layout.pug

block append scripts
	script(src="/public/js/admin.js")

block content
	div.padding#admin
		h1 Admin controls
		div.tableSection.hideable
			h2.hidebutton Movies
			div.hidecontent
				table#moviesTable
					tr
						th.medium Title
						th.small Year
						th.shrink Description
						th.small
						th.small
					each m in movies
						tr
							td.medium= m.title
							td.small= m.year
							td.shrink= m.description
							td.small.edit.button
								a(href="/admin/editmovie/"+m.id) edit
							td.small.delete.button
								a.delete(movie_id=m.id) delete
				a(href="/admin/editmovie") Add a movie

		div.tableSection.hideable
			h2.hidebutton Users
			div.hidecontent
				table#usersTable
					tr
						th Username
						th Account type
					each u in users
						tr
							td= u.username
							td= u.type
				
		div.tableSection.hideable
			h2.hidebutton Theaters
			div.hidecontent
				table#theatersTable
					tr
						th Name
						th Address
						th.small
						th.small
					each t in theaters
						tr
							td= t.name
							td= t.address.street + " " + t.address.city
							td.small.edit.button
								a(href="/admin/edittheater/"+t.id) edit
							td.small.delete.button
								a.delete(theater_id=t.id) delete
				a(href="/admin/edittheater") Add a theater
					