extends layout.pug

block append scripts
	script(src="/public/js/admin.js")

block content
	div.padding
		h1 Admin controls
		table#moviesTable
			caption Movies
			tr
				th Title
				th Year
				th Description
				th
				th
			each m in movies
				tr
					td= m.title
					td= m.year
					td= m.description
					td.edit
						a(href="/admin/editmovie/"+m.id) edit
					td.remove
						a.remove(movie_id=m.id) remove
		a(href="/admin/editmovie")
			li Add a movie
			
		table#usersTable
			caption Users
			tr
				th Username
				th Account type
			each u in users
				tr
					td= u.username
					td= u.type
		
		table#theatersTable
			caption Theaters
			tr
				th Name
				th Address
			each t in theaters
				tr
					td= t.name
					td= t.address
			