extends layout.pug

block append content
	h1= movie.title
	p= movie.description
	ul
		li= 'Year: ' + movie.year
		li= 'Director: ' + movie.director
		li Actors:
			ul
				for a in movie.actors
					li= a.name
					
	h2 Screenings:
	ul
		for s in movie.screenings
			h3= s.theater.name
			li= s.timestamp
			