extends layout.pug

block append scripts
	script(src='/public/js/movie.js')
	
block append content
	div.padding#movie(movie_id=movie._id)
		div#movieContainer
			div#movieRight
				img.popUp.coolImage(src=movie.imagepath.big)
			div#movieLeft.backgroundContent
				h1= movie.title
				p= movie.description
				ul
					li
						b Year:
						span= " "+movie.year
					li
						b Director:
						span= " "+movie.director
					if movie.actors.length > 0
						li 
							b Actors:
							ul
								for a in movie.actors
									li= a.name
			div.clearBoth
		div#movieScreenings
			h2 Find a screening
			div#movieScreeningsSearch
				div.inlineInput
					input#screeningDate(type="date" value=moment().format("YYYY-MM-DD") min=moment().format("YYYY-MM-DD"))
				div.inlineInput
					select#screeningTheater
						each t in theaters
							option(value=t._id)= t.name
				div.inlineInput
					button#updateScreeningsButton(type="button") Update list
			div.tableSection.hideable.popUp
				h2.hidebutton Screenings
				div.hidecontent.tableContainer
					table#movieScreeningsTable

				
