extends layout.pug
block append scripts
	srcipt(src="public/js/tickets.js")
block content
	div.padding#tickets
		h1= "Select the amount of tickets"
		form(action="/movies/screening/"+screening._id+"/tickets/seats" method="post")
			h3 Your hall:
			div.subdiv
				div
					b= hall.name
				div= "Normal seats: " + hall.seats
				div= "Wheelchair seats: " + hall.wheelchair_seats
			h3 Choose your tickets:
			div.formRow
				label Normal:
				input(type="number" name="tickets[normal]" min=0 max=20)
				label
					b= screening.price
					span € per ticket
			div.formRow
				label Wheelchair:
				input(type="number" name="tickets[wheelchair]" min=0 max=20)
				label
					b= screening.price
					span € per ticket
			div.formRow
				input(type="submit" value="Next")
	