extends layout.pug

block append scripts
	script(src="/public/js/user.js")

block content
	div.padding#user
		h1= "You are "+user.email
		if user.address
			ul
				li= 'Street address: ' + user.address.street
				li= 'City: ' + user.address.city
				li= 'Postal code: ' + user.address.postcode
				
		div.tableSection.hideable.popUp
			h2.hidebutton Your resorvations
			div.hidecontent.tableContainer
				div.confirmContainer
				table#resorvationsTable
					tr
						th.medium.sortable Movie
						th.small.sortable Theater
						th.small.sortable Hall
						th.tiny.sortable Row
						th.tiny.sortable Seat
						th.small.sortable Seat type
						th.small.sortable Date
						th.small.sortable Time
						th.small
					each r in resorvations
						if(r.screening)
							tr(resorvation_id=r._id type="resorvation" name=moment(r.screening.datetime).format("DD.MM.YYYY - HH:mm"))
								td.medium= r.screening.movie.title
								td.small= r.screening.hall.theater.name
								td.small= r.screening.hall.name
								td.tiny.center= r.row
								td.tiny.center= r.col
								td.small.center= r.type
								td.small.center= moment(r.screening.datetime).format("DD.MM.YYYY")
								td.small.center= moment(r.screening.datetime).format("HH:mm")
								td.small.delete.button delete
						